window {
  background-color: transparent;
}

#app {
  background-color: rgba(42, 41, 49, 0.473);
  border-radius: 12px;
  padding: 5px;
}

button {
  background-color: rgba(0, 0, 0, 0);
  padding: 4px;
  border-radius: 12px;
  border: none;
}